.commitment {
  margin-bottom: 256px;
  & .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__right {
    max-width: 540px;
    h2 {
      font-weight: 900;
      font-size: 40px;
      line-height: 48px;
      color: #333d4b;
      margin-bottom: 32px;
    }

    p {
      color: #333d4b;
      opacity: 0.8;
    }
  }
  &__left-tablet {
    border-radius: 8px;
    display: none;
  }
  &__left-mobile {
    border-radius: 8px;
    display: none;
  }

  &__left-desktop {
    border-radius: 8px;
    max-width: 445px;
  }

  @media only screen and (max-width: 1100px) {
    & .container {
      display: flex;
      justify-content: space-between;
    }

    &__right {
      max-width: 339px;
      h2 {
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 30px;
      }

      p {
        font-size: 15px;
        line-height: 25px;
      }
    }
    &__left-desktop {
      display: none;
    }

    &__left-tablet {
      display: block;
    }
  }

  @media only screen and (max-width: 700px) {
    & .container {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 0 20px;
    }

    &__right {
      max-width: 100%;
    }

    &__left-tablet {
      display: none;
    }

    &__left-mobile {
      display: block;
      margin-bottom: 48px;
    }
  }
}
